/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*basic layout
 rearrange later*/

body .content {
 	width: 700px;
 	margin: 0 auto 0 auto;
 }
footer {
	
	padding: 10px;
	clear: both;
}

 footer .footer-content{
 	text-align: center;
 }
header h1, header h2{
	display: inline-block;
}

header ul.nav-bar {
	list-style: none;
	margin: auto;
	width: 700px;
}
header ul.nav-bar li.nav-link {
	display: inline-block;
	margin: 0px;
	padding: 0px;


}
header ul.nav-bar li.nav-link a{
	display: block;
	padding: 5px;
	width: 100%;

}


/* Actor Stuff */

div.roles {
	float:left;
}
img.actor-photo {
	float:right;
}
div.actor-actions{
	clear:both;
	float: right;
	
}



