/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*basic layout
 rearrange later*/

body .content {
	border:0;
	padding:0px;
 	width: 700px;
 	margin: 0 auto 0 auto;
 }
 header {
 	background-color: black;
 	padding:0px;
 	margin:0px;
 }
footer {
	
	padding: 10px;
	clear: both;
	background-color: black;
	color: white;
}

 footer .footer-content{
 	text-align: center;

 }
header h1, header h2{
	display: inline-block;
	color: white;
}
header h1{
	background-color:#1EAEDB;
	padding: 10px;
	
	margin: 0px;
}
header span{
	color: white;
}

header ul.nav-bar {
	background-color: #ccc;
	display: block;
	list-style: none;
	margin:0px;
	text-align: center;
}
header ul.nav-bar li.nav-link {
	display: inline-block;
	margin: 0px;
	padding: 0px;


}
header ul.nav-bar li.nav-link a{
	display: block;
	padding: 5px;
	width: 100%;
	text-decoration: none;
	color: white;
	

}

header ul.nav-bar li.nav-link a:hover {

	background-color: #e1e1e1;
}



/* Actor Stuff */

div.roles {
	float:left;
}
img.actor-photo {
	float:right;
}
div.actor-actions{
	clear:both;
	float: right;
	
}



